.clearfix{
  float: none;
  clear: both;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: Helvetica, Arial;
}

#content{
  width: 80%;
  height: 500px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ddd;
}

header{
  padding: 15px;
  background: #19a1bf;
}

header #logo{
  width: 50px;
  display: block;
  float: left;
}

header h1{
  margin: 0px;
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 55px;
  font-size: 25px;
  text-transform: uppercase;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
  float: left;
}
