<header id="header">
  <a [routerLink]="['Restaurants']">
    <img src="../../assets/images/angular.png" id="logo">
  </a>
  <h1>{{title}}</h1>
  <div class="clearfix"></div>
</header>

<nav id="nav">
  <ul>
    <li><a [routerLink]="['Restaurants']">Home</a></li>
    <li><a [routerLink]="['RestaurantAdd']">Add restaurant</a></li>
    <li><a [routerLink]="['Restaurants']">¿ where eat today ?</a></li>
  </ul>
</nav>

<section class="main">
  <router-outlet></router-outlet>
  <div class="clearfix"></div>
</section>
