<h1>{{title}}</h1>

<form #myForm="ngForm" (ngSubmit)="onSubmit()">
  <label>Name:</label>
  <p>
    <input type="text" #name="ngForm" ngControl="name" [(ngModel)]="restaurant.name" required/>
    <span *ngIf="!name.valid">Name is required</span>
  </p>
  <label>Address:</label>
  <p>
    <input type="text" #address="ngForm" ngControl="address" [(ngModel)]="restaurant.address" required/>
    <span *ngIf="!address.valid">Address is required</span>
  </p>
  <label>Description:</label>
  <p>
    <textarea #description="ngForm" ngControl="description" [(ngModel)]="restaurant.description" required rows="8" cols="80"></textarea>
    <span *ngIf="!description.valid">Description is required</span>
  </p>
  <label>Price:</label>
  <p>
    <select #price (change)="callPrice(price.value)">
      <option value="bajo" [attr.selected]="restaurant.cost === 'small' ? 'selected' : null">small</option>
      <option value="normal" [attr.selected]="restaurant.cost === 'normal' ? 'selected' : null">normal</option>
      <option value="alto" [attr.selected]="restaurant.cost === 'high' ? 'selected' : null">high</option>
    </select>
  </p>
  <input type="submit" value="{{title}}" [disabled]="!myForm.form.valid">
</form>
